<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965299545949-inof9emdq6psc9k9ii38ce3jcoj8romd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965299545949-inof9emdq6psc9k9ii38ce3jcoj8romd</string>
	<key>API_KEY</key>
	<string>AIzaSyBizQkHoq_1gi_GmLZmi-VB61ABTAJHJ6s</string>
	<key>GCM_SENDER_ID</key>
	<string>965299545949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tistory.dcsun59.lowestpricebabyproduct</string>
	<key>PROJECT_ID</key>
	<string>lowestpricebabyproduct</string>
	<key>STORAGE_BUCKET</key>
	<string>lowestpricebabyproduct.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965299545949:ios:782533cc1e2f7b90d32ab4</string>
</dict>
</plist>